@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.principal{
    color: deepskyblue;
    font-size: 1.2em;
    font-family: Merriweather,serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
}

.boton-exterior{
    width: 1.2em;
    height: 1.2em;
    border:  solid white 2px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}

.boton-exterior:hover{
    border-color: cyan;
    background-color: #688;
}

.boton{
    margin: 12% auto;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent white;
    will-change:  border-width;
    border-style: solid;
    border-width: 0.4em 0 0.4em 0.8em;
    transition: 300ms all ease;
}

.boton.pause{
    height: 0.8em;
    border-style: double;
    will-change:  border-width;
    border-width: 0em 0 0em 0.8em;
}

.boton:hover{
    border-color: transparent transparent transparent cyan;
}

select,input{
    margin: 0 20px 0 5px;
    color: white;
    font-size: 0.8em;
    border: white 2px solid;
    border-radius: 5px;
    font-family: Merriweather,serif;
    background-color: black;
}